.inputField,
.selectField {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #ff0076;
  width: 70%;
}

.inputLabel {
  color: #ff0076;
}

.inputField.error,
.selectField.error {
  border-bottom: 1px solid #ff0000;
}

.inputLabel.error {
  color: #ff0000;
  font-weight: 700;
}

.errorMsg {
  font-size: 0.6rem;
  color: #ff0000;
}

.validMsg {
  font-size: 0.6rem;
  color: #3dff3d;
}

.inputField.valid,
.selectField.valid {
  border-bottom: 1px solid #3dff3d;
}
.inputLabel.valid {
  color: #3dff3d;
  font-weight: 700;
}

.inputErrorMsgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.inputLabel.valid.required::after,
.inputLabel.error.required::after {
  content: " *";
  color: red;
}